.bodyOfEntries {
  padding: 5px 0px;
  text-align: center;
}

.theH1 {
  color: #cedcc3;
  text-shadow: 1px 1px 2px #475c3d, 0 0 1em #5a973b, 0 0 0.2em #205804;
}

.imgStyle {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border: 5px solid transparent;
  border-radius: 15px;
  opacity: 0.8;
  aspect-ratio: 13 / 10; /* Set the desired aspect ratio, e.g., 16:9 */
}

.buttonStyle {
  padding: 3px 8px;
  border-radius: 10px;
  background-color: #a7b99e;
  color: aliceblue;
  border-color: #cedcc3;
  border: 2px solid;
}
.deleteButtonStyle {
  padding: 3px 8px;
  border-radius: 10px;
  background-color: #a7b99e;
  color: aliceblue;
  border-color: #cedcc3;
  border: 2px solid;
}

.aroudAllEntries {
  margin: 0px 7px;
}

.linkStyles {
  text-shadow: 1px 1px 2px #3a5d29, 0 0 1em #a7b99e, 0 0 0.2em #8fa584;
  text-decoration: none;
  color: #cedcc3;
  font-family: Arial;
}

.card {
  position: relative;
}

.card-img-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background: rgba(0, 0, 0, 0.2);
  border-radius: 10px;
}

.card-img-overlay h3 {
  border-radius: 10px;
  margin: 0;
  color: #cedcc3;
}
