.bodyOfEntries {
  padding: 5px 0px;
  text-align: center;
}

.theH1 {
  color: #cedcc3;
  text-shadow: 1px 1px 2px #475c3d, 0 0 1em #5a973b, 0 0 0.2em #205804;
}

.imgStylingAtEntry {
  max-width: 350px;
  max-height: 200px;
  border: 5px solid;
  border-radius: 9px;
  border-color: #a2a8d3;
}
button {
  padding: 3px 8px;
  border-radius: 10px;
}
.aroundTheEntries {
  border: 4px solid;
  border-color: #a2a8d3;
  border-radius: 10px;
  background-color: #38598b;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 10px 0px;
  padding: 8px;
}

.aroudAllEntries {
  margin: 0px 7px;
}

.linkStyles {
  text-shadow: 1px 1px 2px #3a5d29, 0 0 1em #a7b99e, 0 0 0.2em #8fa584;
  text-decoration: none;
  color: #cedcc3;
  font-family: Arial;
}
